
<div class="hero-unit">
  <h1>Welcome K-blog</h1>
  <p>K-blog 基于 Node.js,Express 搭建的轻博客 .</p>
  <p style="font-size: 14px;">版本: v0.1</p>
  <p>
    <% if(!locals.user){ %>
        <a class="btn btn-primary btn-large" href="/login">登陆</a>
        <a class="btn btn-large" href="/reg">立即注册</a>
    <% }else{%>
        <a class="btn btn-primary btn-large" href="/post">发表文章</a>
    <% } %> 
  </p>

  <% if(locals.test){ %>
  <p><%= locals.test %></p>
  <% } %>
</div>

<!-- index 下标0开始 -->
<% posts.forEach(function(post, index){  
   if (index % 3 == 0){ %>
    <div class="row">
 <% } %>
<div class="span4 ">
    <h2><a href="/topic/<%= post._id %>"><%= post.title %></a></h2>
    <p>作者: <a href="/user/<%= post.name %>"> <%= post.name %> </a> &nbsp;<%= post.time.minute %></p>
    <p>
      <%- post.post %>
    </p>
</div>

<% if (index%3 == 2){ %>
    </div>
<% } %>
<% }) %>

<% if (posts % 3 != 0){ %>
    </div>
<% } %>

