
<div class="hero-unit">
  <h1>歡迎來到 K-blog</h1>
  <p>K-blog 是一個基於 Node.js 的微博系統。</p>
  <p>
    <% if(!locals.user){ %>
        <a class="btn btn-primary btn-large" href="/login">登陆</a>
        <a class="btn btn-large" href="/reg">立即注册</a>
    <% }else{%>
        <a class="btn btn-primary btn-large" href="/post">发表文章</a>
    <% } %>
  </p>

  <% if(locals.test){ %>
  <p><%= locals.test %></p>
  <% } %>
</div>

<div class="row">
 <div class="span4">
    <h2>Spring</h2>
     <p>
	君生我未生，我生君已老  
	恨不生同时，日日与君好  
	何时能再见，纯白如羽的华裳  
	还有那素净如莲的脸庞  
	风沙漫夜幕，月光沁石墓  
	叹朝朝暮暮，长生惹谁慕  
	愿在君身旁，挥剑带落红棘花  
	把酒对天唱，飞舞纵黄沙  
	长河落日艳，映逝去荒颜  
	大漠升孤烟，魂随风湮灭  
	我只能奢望，陪君看血色残阳  
	只能够幻想，白衣袂飞扬
	君给的希望，如萨朗鹰般翱翔  
	难追难到达，在梦中徜徉  
     </p>
  </div>
  <div class="span4">
    <h2>李白</h2>
     <p>
     七绝·早发白帝城 朝辞白帝彩云间，千里江陵一日还。 两岸猿声啼不尽，轻舟已过万重山。
     </p>
 </div>
  <div class="span4">
    <h2>五律·赠孟浩然</h2>
    <p>
	吾爱孟夫子，风流天下闻。 
	红颜弃轩冕，白首卧松云。 
	醉月频中圣，迷花不事君。 
	高山安可仰，徒此揖清芬。
    </p>
  </div>

    <% posts.forEach(function(post, index){  %>
    <div class="span4">
        <h2><%= post.title %></h2>
        <p>作者: <%= post.name %> &nbsp;<%= post.time.day %></p>
        <p><%= post.post %></p>
    </div>
    <% }) %>

</div>
